@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");
:root {
  --body-font: "Manrope", sans-serif;
  --body-color: #b3b3b3;
  --body-bg-color: #f2f2f2;
  --theme-bg-color: #fafafa;
  --border-color: #efefef;
  --logo-color: #f13a2f;
  --main-color: #808080;
  --header-bg-color: #fff;
}

.dark-mode {
  --body-bg-color: #1e222b;
  --theme-bg-color: #212835;
  --border-color: #393f50;
  --header-bg-color: #323a4b;
  --main-color: #fefffd;
  --body-color: #dddee0;
}

* {
  outline: none;
  box-sizing: border-box;
}


html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--body-font);
  font-size: 15px;
  color: var(--body-color);
  background-color: var(--body-bg-color);
  margin: 0;
  font-weight: 600;
  min-height: -webkit-fill-available;
}

.video-app {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  height: 70px;
  width: 100%;
  /* border-bottom: 1px solid var(--border-color); */
  display: flex;
  background-color: #151728;
  align-items: center;
  padding: 0 25px;
  color: #151728;
  font-size: 15px;
}

.header-left {
  display: flex;
  align-items: center;
}
.header-left svg {
  width: 22px;
  margin-right: 25px;
  flex-shrink: 0;
}

.logo {
  width: 100px;
  height: 34px;
  text-align: center;
  margin-top: 17px;
  color: #fff;
  flex-shrink: 0;
}
.logo:hover {
    width: 100px;
    height: 34px;
    text-align: center;
    margin-top: 17px;
    color: var(--logo-color);
    flex-shrink: 0;
  }

.header-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  height: 100;
  padding: 0 15px;
  color: var(--body-color);
}

.menu-item:hover {
  color: var(--logo-color);
}
.menu-item:not(:last-child) {
  margin-right: 20px;
}

.user-settings {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-shrink: 0;
}
.user-settings > * + * {
  margin-left: 18px;
}

.user-settings svg {
  width: 22px;
  flex-shrink: 0;
}

.button {
  display: flex;
  background-color: transparent;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: 25px;
  color: var(--body-color);
  padding: 8px 16px;
  font-family: var(--body-font);
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}
.button svg {
  margin-right: 8px;
  width: 20px;
  fill: var(--body-color);
}

.search-bar {
  height: 90px;
  position: relative;
}
.search-bar input {
  height: 100%;
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  padding: 0 10px 0 54px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cpath d='M18.5 17h-.79l-.28-.27a6.5 6.5 0 10-.7.7l.27.28v.79l5 4.99L23.49 22l-4.99-5zm-6 0a4.5 4.5 0 11-.01-8.99A4.5 4.5 0 0112.5 17z' id='a'/%3e%3c/defs%3e%3cg transform='translate(-6 -6)' fill='none' fill-rule='evenodd'%3e%3cmask id='b' fill='%23fff'%3e%3cuse xlink:href='%23a'/%3e%3c/mask%3e%3cg mask='url(%23b)' fill='%23D8D8D8'%3e%3cpath d='M3 3h24v24H3z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 25px 50%;
  color: #7c7c7c;
}
.search-bar input::placeholder {
  color: var(--body-color);
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.user-profile + svg {
  width: 14px;
}

.notify {
  position: relative;
}
.notify:before {
  content: "";
  position: absolute;
  background-color: var(--logo-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  right: -6px;
  bottom: 15px;
}

.menu-item.active {
  color: var(--logo-color);
}
@media (max-width: 519px) {
  .user-settings{
    display: none;
  }
  #addimg
  {
    display: none;
  }
}
@media (max-width: 250px) {
  .header{
    display: none;
  }
}

@media (max-width: 750px) {
    .left-side {
      display: none;
    }
    .header-menu {
      display: none;
    }
    .search-bar input  {
      max-width: 140px;
    }
    .user-settings button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 0;
      position: relative;
      color: transparent;
    }
    .user-settings button svg {
      margin-right: 0;
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }